/* This is a global variable, it can also be used with a fallback */
:root {
    --main-accent-color: hsl(257, 30%, 52%);
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 { 
	color: #555760;
    text-align: center; 
    font-size: 2.5em;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
}

h3 {
    color : rgba(79, 59, 120, 1);
    margin: 10px 20px;
}

p, li {
    color: var(--main-accent-color, #6c63a4);
    text-align: justify;
    margin: auto;
}

p {
    margin: 15px 20px;
}



a {
    color: color-mix(in display-p3, red 40%, blue 60%);
    text-decoration: underline;
}

span {
    color: color(srgb 0.2 0.2 0.2);
}

form {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

fieldset {
    padding: 1rem 2rem;
}

.fit-picture {

    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

p img {
    border-width: 2px;
    border-style: solid;
    border-color: #555760;;
    border-radius: 8px;
    margin: auto;
}

video {
    border: 3px solid #555760;
}

button {
    display: block;
    padding: 0.5em 1em;
    border-radius: 6px;
    background-color:#a89bcf
}

button:hover {
    background-color: #a89bcf;
    color: white;
}


button:active {
    background-color: #767199; 
    transform: scale(0.98);  
}

img.fit-picture {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

header {
    position: relative;
    top: 10px;

}

nav {
    position: static;
    ul {
        list-style: none;
    }
}

ol:has(li) {
    font-size: 0.9em
}

ul > li {
    color: #555760;
}

li.bold-next + li {
    font-weight: bold;
}

li.italic-all-siblings ~ li {
    font-style: italic;
}

#copyright {
    color: black;
}

input[type="text"]{
    color: purple;
}


@media (min-width: 50em)  {
    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 1rem;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        justify-items: left;
    }
  }